var React = require('react');

var {{name}} = React.createClass({
  render: function() {
    return (
      <div className="{{name}}">
        <h1>{{name}}</h1>
      </div>
    )
  }
});

module.exports = {{name}};